/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for the navigation bar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: sticky;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 25px 0px;
}

nav ul li {
  font-family: century;
  font-size: 25px;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
}

nav ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #130f0f;
  padding: 6rem;
  font-size: 1.5rem;
  background-color: antiquewhite;
  margin: 1rem;
  width: 97vw;
  height: auto;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width:100%;
}

.about img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-bottom: 270px;
  margin-right: 10px;
}


/* Styles for the resume section */
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #130f0f;
  padding: 1%;
  font-size: 1.5rem;
  background-color: antiquewhite;
  margin: 1rem;
}

.resume p {
  margin: 0;
  padding: 0;
}

.resume h2 {
  margin-bottom: 2rem;
}




/* Styles for the education section */
.education {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #130f0f;
  padding: 1%;
  font-size: 1.5rem;
  background-color: antiquewhite;
  margin: 1rem;
}

.education ul {
  list-style: none;
  margin-bottom: 0rem;
}

.education ul li {
  margin-bottom: 0.1rem;
}


/* Responsive styles using media queries */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .education {
    padding: 0%;
  }
  
  .education h3 {
    font-size: 1.8rem;
  }

  .resume {
    padding: 0%;
  }
  
  .resume h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  /* Adjust styles for even smaller screens */
  .education {
    padding: 100%;
  }
  
  .education h3 {
    font-size: 1.6rem;
  }

  .resume {
    padding: 100%;
  }
  
  .resume h2 {
    font-size: 1.6rem;
  }
}
.download-btn {
  padding: 12px 24px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right,#40a7fc,#056cc0);
  border-radius: 8px;
  margin: 8px 24px;
  box-shadow:0 6px 20px -8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 500ms ease;
}

.download-btn:hover {
  transform: translateY(-4px);
  
}
