  
  body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 25px;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 20px;;
    background-color: rgb(11, 15, 3);
    color: white;
    font-size: 25px;
    font-weight: bold;
    z-index: 1000;
  }
  
  
  .nav a{
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  .nav a:hover {
    background-color: #f5efef;
    color: #333333;
    box-shadow: 0 0 10px white;
    transition: all 0.2s ease-in-out;
  }
  
  .nav a.active {
    margin: 20px;
    background-color: antiquewhite;
    border: solid 1px #333333;
    box-sizing: border-box; 
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 60px;
    flex:1;
  }
  
  /*for the home page*/
  .Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    padding: 0px;
    
  }


  #Home p {
    text-align: justify;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 80px 0 200px;

  } 
  
  #Home img {
    width: 200px;
    height: auto;
    border-radius: 100%;
    float: left;
    margin-right: 55px;
    margin-left: 55px;
    padding-top: 20px;
  }
  
.social-icon {
  color: white;
   font-size: 30px;
   transition: color 0.2s;
}
  
.social-icon:hover {
  background-color: #f5efef;
  color: #333333;
  box-shadow: 0 0 10px white;
}
  /*for the CV page*/
#CV {
  margin: 20px; 
  padding: 20px 200px;
  text-align: left;
}

#CV h1 {
  font-size: 40px; 
  margin-bottom: 100px; 
  margin-top: 0;
  text-align: left;
}

#CV p {
  font-size: 20px;
  line-height: 1.5; 
  padding: 0 20px; 
}

 
#CV button {
  font-size: 16px; 
  margin-top: 15px; 
  cursor: pointer;
  color: white;
  background-color: #ffffff; 
}

#CV button:hover {
  background-color: #f5efef;
  color: #070707;
}

.info-container {
  display: flex;
  justify-content: left;
  align-items:left; 
  margin-bottom: 20px; 
  height: auto; 
}

.info {
  text-align: left;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
#Education {
  text-align: center; 
  margin-bottom: 60px;
}
#Education h1 {
  font-size: 40px; 
  margin-bottom: 0; 
  margin-top: 50px;
  text-align: left;
}

#Education #educationHistory {
  font-size: 25px;
  text-align: center;
  margin: 5px;
  padding: 15px 50px 20px 50px;
}

#Education #educationDetails {
  text-align: center;
  font-size: 25px;
  list-style: none;
}


/*for the projects page*/
.introduction {
  padding: 0 50px 0 50px;
}
 #mainBox {
  display: flex;
  flex-direction: rows;
  padding: 20px;
}

#mainBox h1 {
  font-size: 25px;
  margin-bottom: 0;
}

#box{
  flex-grow: 1;
  position: relative;
  width: 90%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background:linear-gradient(to top, rgb(255,45,45) 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
  background-clip: text;
  -webkit-background-clip: text; 
}
#box .content {
  flex: 1;
  text-align: center;
}

#box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
}

#box:hover {
  box-shadow: 0 0 20px rgb(13, 21, 243);
  background:linear-gradient(to top, rgb(12, 12, 12) 50%, white 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

.image-wrapper{
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

/**For contact information**/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38vh;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
}

input, textarea {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

textarea {
  height: 150px; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#Contact {
  text-align: center;
  margin: 50px;
}
#Contact h1{

text-align: left;
}

footer {
  text-align: center;
  padding: 7px;
  background-color: rgb(7, 10, 6);
  color: white;
  margin-top: auto;
  width: 100%; /* Set width to 100% to stretch across the page */
  position: fixed;
  bottom: 0;
}

footer p {
  margin: 1px 0;
  font-size: 14px;
}

footer header {
  font-size: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  background-color: #f5efef;
  color: #333333;
  box-shadow: 0 0 10px white;
}

footer .social-icon {
  font-size: 25px;
  margin: 0 10px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .nav {
    padding: 10px;
  }

  .nav a {
    padding: 5px 5px 0 0px; /* Adjust padding for smaller screens */
    font-size: 15px; /* Adjust font size for smaller screens */
  }

  #Home img {
    width: 30%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 10px;
  }

  #Home p {
    padding: 0 10px; /* Adjust padding for smaller screens */
    font-size: 18px; /* Adjust font size for smaller screens */
  }
#CV {
  padding: 0px;

}
.info {
  max-width: 100%;
  text-align: left;
}
#CV p {
  padding: 0 10px; /* Adjust padding for smaller screens */

}
strong {
  display: block;
  margin-top: 10px;
};
#DownLoad {
  margin-top: 10px;
}
#Education {
  padding: 0px;
}
#educationHistory p {
  padding: 0 10px;
}
#educationDetails h4 {
  margin-top: 10px;
}
#educationDetails li {
  padding-left: 20px;
}




#Projects {
  padding: 10px;
}

.introduction,
.heading,
.content {
  padding: 0 10px;
}

#mainBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 15px;
  padding-left: 1px; 
}

#box {
  width: 90%; 
}

.image-wrapper {
  height: 300px; 
}














#Contact {
  padding: 10px;
}

.intro {
  padding: 0 10px;
}

.container {
  max-width: 240px;
  margin: 0 auto;
}

form {
  width: 100%;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 8px; /* Adjust padding for a more compact look */
  margin-bottom: 10px; /* Add some space between input fields */
  font-size: 14px; /* Adjust font size for better readability */
}

button {
  padding: 10px 20px;
  font-size: 16px; /* Adjust font size for better readability */
}


}
